# Word frequency list
Here we are reading and analyzing the word frequency list. The rank is the position in the list, the frequency is the number of times the word appears in the corpus, and the word is the word itself.

In [20]:
# Import panda, numpy, matplotlib, and seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read in the data
df = pd.read_csv('word-freq.txt', sep='\t', header=None)
df.columns = ['word', 'freq']
# Create the column for the rank
df['rank'] = df.index + 1

df.head()

  word         freq  rank
0  THE  53097401461     1
1   OF  30966074232     2
2  AND  22632024504     3
3   TO  19347398077     4
4   IN  16891065263     5